*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(1,1,0.1);
}
h1{
    margin-bottom: 30px;
}

.form_container{
display:grid;
grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input,textarea,select{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;

}

.button_container{
    display: flex;
    justify-content: flex-end;
}
button{
  font-size: 16px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-out;
}